In [107]:
from bs4  import BeautifulSoup
from splinter import Browser
import requests
import pymongo
import pandas as pd
import time

In [108]:
!which  chromedriver

/usr/local/bin/chromedriver

In [109]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [110]:
## NASA Mars news and Title 
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(10)
soup =BeautifulSoup(browser.html,'html.parser')

In [111]:
# collect the latest News Title and Paragraph
news_title= soup.find('div',class_='content_title').text
print(news_title)

news_p = soup.find("div", class_='article_teaser_body').text
print(news_p)

Curiosity on the Move Again
NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.

In [100]:
# JPL Mars Space Image 
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
browser.find_by_id("full_image").click()
## need to wait a bit
time.sleep(10)

soup =BeautifulSoup(browser.html,'html.parser')
image_name = soup.find('img',class_='fancybox-image')['src']
print(image_name)
base_url = "https://www.jpl.nasa.gov"
featured_image_url = base_url+image_name
print(featured_image_url)

/spaceimages/images/mediumsize/PIA19382_ip.jpg
https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19382_ip.jpg

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22801_ip.jpg

In [113]:
## Mars Weather from twitter
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
## need to wait a bit
time.sleep(5)

In [114]:
### Mars Weather

soup =BeautifulSoup(browser.html,'html.parser')

mars_weather = soup.find('p',class_='TweetTextSize').text
print(mars_weather)

Sol 2223 (2018-11-07), high 2C/35F, low -64C/-83F, pressure at 8.50 hPa, daylight 06:18-18:35

In [115]:
### Mars Facts


mars_fact_url ='http://space-facts.com/mars/'
tables = pd.read_html(mars_fact_url)
print(tables)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [117]:
df_facts = tables[0]
print(df_facts)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [118]:
df_facts.columns  = ['facts','values']
df_facts.set_index('facts',inplace=True)
print(df_facts.head())

                                             values
facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [119]:
html_table =df_facts.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>values</th>
    </tr>
    <tr>
      <th>facts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 째C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [120]:
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>values</th>    </tr>    <tr>      <th>facts</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 째C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [121]:
df_facts.to_html('facts_table.html')
print(df_facts.head())

                                             values
facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [122]:
#### Mars Hemispheres Info
astro_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(astro_url)
time.sleep(5)

In [123]:

soup =BeautifulSoup(browser.html,'html.parser')
hemispeher_images_list = []

results = soup.find_all('a',class_='itemLink product-item')
for result in results:       
    dict ={}
    if(result.find('h3')):
        title = result.find('h3').text
        print(title)
        img_url = "https://astrogeology.usgs.gov" + result['href']
        browser.visit(img_url)
        time.sleep(5)
        img_link = browser.find_by_text('Sample')['href']
        print(img_link)
        browser.back()
        dict= {
        'title': title,
        'img_url': img_link    
        }
        
    else :
        continue    
    hemispeher_images_list.append(dict)

print("Final list of dict")    
print(hemispeher_images_list)
browser.quit()

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
Final list of dict
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]